/* Chat containers */
.message-container {
	display: grid;
	grid-template-columns: 5% 95%;
	grid-template-rows: auto auto;
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;

	::after {
		content: '';
		clear: both;
		display: table;
	}

	img {
		float: left;
		max-width: 60px;
		width: 100%;
		margin-right: 20px;
		border-radius: 50%;
		background: white;
	}

	.time-right {
		color: grey;
	}
}
